## This file is part of Whonix.
## Copyright (C) 2012 - 2018 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-gw-leaktest
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, ruby-ronn
Homepage: https://www.whonix.org/wiki/Dev/Leak_Tests
Vcs-Browser: https://github.com/Whonix/anon-gw-leaktest
Vcs-Git: https://github.com/Whonix/anon-gw-leaktest.git
Standards-Version: 3.9.8

Package: anon-gw-leaktest
Architecture: all
Depends: tor, tshark, ed, sudo, ${misc:Depends}
Conflicts: anon-ws-leaktest
Description: Leak Test for Anonymity Distribution Gateways
 Integrated leak test.
 .
 Needs to be manually run.
 .
 See https://www.whonix.org/wiki/Dev/Leak_Tests.
